<!doctype HTMl>
<html lang="en">
    <head>
        <title>Tracking Details</title>
        <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <script src="js/script.js"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
  
  <body>
    <div class="container" id="det">Details of the package</div>
    <a href="/">Index Page</a>
    <div>
      <%= users[0].city %>
    </div>
  </body>
</html>