<!doctype HTMl>
<html lang="en">
  <head>
    <title>Main Page</title>
    <!-- <script src="../server/services/render.js"></script> -->
    <!-- <script src="js/script.js"></script> -->
    <link rel="stylesheet" href="css/styles.css">
  </head>
  
  <body>
    <div class="container">
      <form action="/details/?awbno=22222<" method="get">
        <label>Enter Tracking Number</label><br>
        <input type="text">
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>